:root {
    --White: #ffffff;
    --Black: #000000;
    --Gray: #CDCDD0;
    --Background: #F6F9FF;
    --Blue: #3843FF;
    --Red: #E3524F;
    --Orange: #FEA800;
    --Green: #3BA935;
    --Purple: #8A24FF;
    --Pink: #FF7D7D;
    --Yellow: #FFCA00;
}