@use '@assets/styles/colorVariables.scss' as *;

.inputContainer {
  width: 100%;

  .inputLabel {
    margin-bottom: 8px;
  }

  input[type="file"] {
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--Gray);
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--Green);
    }

    &::file-selector-button {
      background: transparent;
      border: none;
      font-size: 16px;
      font-weight: 500;
      color: var(--Black);
      cursor: pointer;
      padding: 0;
      margin-right: 12px;
    }
  }

  p {
    margin: 8px 0 4px;

    color: var(--Black);
  }

  ul {
    list-style-type: disc;
    padding-left: 16px;
    margin: 0;

    li {

      color: var(--Gray);
    }
  }

  .errorPopup {
    margin-top: 4px;

    h6 {
      color: var(--Red);
    }
  }
}